<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntityDao">
 <resultMap id="EntityListResultMap" type="com.kis.rda.farm.domain.EntityList">
 	<result property="rnum" column="rnum"  javaType="java.lang.String" />
	<result property="ENTITY_ID" column="ENTITY_ID"  javaType="java.lang.String" />
   <result property="BREEDING" column="BREEDING"  javaType="java.lang.String" />
   <result property="VARIETY" column="VARIETY"  javaType="java.lang.String" />
   <result property="GENDER" column="GENDER"  javaType="java.lang.String" />
   <result property="BIRTH" column="BIRTH"  javaType="java.lang.String" />
   <result property="BIRTH_WEIGHT" column="BIRTH_WEIGHT"  javaType="java.lang.String" />
   <result property="COLOSTRUM" column="COLOSTRUM"  javaType="java.lang.String" />
   <result property="VACCINE" column="VACCINE"  javaType="java.lang.String" />
   <result property="BIRTHNUMBER" column="BIRTHNUMBER"  javaType="java.lang.String" />
   <result property="BIRTH_CASE" column="BIRTH_CASE"  javaType="java.lang.String" />
   <result property="INPUTDATE" column="INPUTDATE"  javaType="java.lang.String" />
   <result property="UPDATEDATE" column="UPDATEDATE"  javaType="java.lang.String" />
   <result property="CASENUM" column="CASENUM"  javaType="java.lang.String" />
     </resultMap>


         <resultMap id="bbsDataResult" type="com.kis.rda.common.domain.Environment">
  
                  <result property="FARM_ID" column="FARM_ID"  javaType="java.lang.String" />
                  <result property="ENV_GATHERDATE" column="ENV_GATHERDATE" javaType="java.lang.String"/>
                  <result property="CLEAN" column="CLEAN" javaType="java.lang.String"/>
                  <result property="WTC" column="WTC" javaType="java.lang.String"/>
                  <result property="WSQ" column="WSQ" javaType="java.lang.String"/> 
                   <result property="FQ" column="FQ" javaType="java.lang.String"/>
                   <result property="INPUTDATE" column="INPUTDATE" javaType="java.lang.String"/>
                    <result property="UPDATEDATE" column="UPDATEDATE" javaType="java.lang.String"/>
         </resultMap>




<!-- 목장자료 - 기존 목장 COUNT -->
<select id="selectFarmCount" parameterType="Map" resultType="int">
	SELECT
		COUNT(farm_id)
	FROM
		RDA_TEST.FARM
	<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
	WHERE
		<choose>
			<when test="searchOption =='fname'">
				fname LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchOption =='name'">
				name LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
	</if>
</select>
<!-- 목장자료 - 기존 목장 LIST-->
<select id="selectFarmList" parameterType="Map" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM ( 
   			SELECT 
   				rownum as rnum, 
   				A.*
    		FROM (
        			SELECT
        				*
       				FROM 
       					RDA_TEST.FARM
   					<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
					WHERE
						<choose>
							<when test="searchOption =='fname'">
								 fname LIKE '%'||#{searchValue}||'%'
							</when>
							<when test="searchOption =='name'">
								 name LIKE '%'||#{searchValue}||'%'
							</when>
						</choose>
					</if>
        			ORDER BY
        				inputdate DESC
      			) A
    		WHERE 
    			rownum &lt;= #{endRow}
 		) B
	WHERE
		B.rnum &gt;= #{beginRow}
</select>



<select id="ajaxentityEntityList" parameterType="com.kis.rda.farm.domain.EntityList" resultMap="EntityListResultMap">
select  rownum as rnum, 
ENTITY_ID	,	   
BREEDING	,	   
VARIETY	,	   
GENDER	,	   
BIRTH	,	   
BIRTH_WEIGHT 	,	   
COLOSTRUM	,	   
VACCINE	,	   
BIRTH_NUMBER as  BIRTHNUMBER,	   
BIRTH_CASE	,	   
INPUTDATE	,	   
UPDATEDATE	,	   
substr(CASENUM,6,5)	 as CASENUM
  from
   RDA_TEST.ENTITY 
  WHERE 
  substr(entity_id,1,3) =#{farm_id} order by entity_id

</select>




<select id="ajaxenvEntityList" parameterType="Map" resultMap="bbsDataResult">
SELECT  rownum as rnum,a.FARM_ID
,a.ENV_GATHERDATE
,a.CLEAN
,a.WTC
,a.WSQ
,a.FQ
,a.INPUTDATE
,a.UPDATEDATE
	FROM RDA_TEST.ENVIRONMENT a	WHERE FARM_ID=  #{farmId}
</select>

<select id="entityEntityUpdateSelectOne" parameterType="String" resultType="String">
	SELECT 
	a. FNAME
	FROM 
		RDA_TEST.FARM a WHERE   FARM_ID=  #{farmId}
</select>

<!--   개체자료 추가 -->
<insert id="ajaxentityEntityInsertDo" parameterType="com.kis.rda.farm.domain.EntityList">
INSERT INTO rda_test.ENTITY(		
SEQNO,
	ENTITY_ID,	
	<if test="BREEDING!= null">BREEDING,</if>	
	<if test="VARIETY!= null">VARIETY,</if>	
	<if test="GENDER!= null">GENDER,</if>	
	<if test="BIRTH!= null">BIRTH,</if>	
	<if test="BIRTH_WEIGHT!= null">BIRTH_WEIGHT,</if>	
	<if test="COLOSTRUM!= null">COLOSTRUM,</if>	
	<if test="VACCINE!= null">VACCINE,</if>	
	<if test="BIRTH_NUMBER!= null">BIRTH_NUMBER,</if>	
	<if test="BIRTH_CASE!= null">BIRTH_CASE,</if>			
	<if test="CASENUM!= null">CASENUM,</if>	
	INPUTDATE
	)	
	VALUES(	
		rda_test.SEQ_ENTITY.nextval	,
(select (#{farm_id})||(nvl(max(substr(entity_id,4,6)),0)+1 )from  rda_test.entity
where substr(entity_id,0,3)=#{farm_id}),	
	<if test="BREEDING!= null">#{BREEDING},</if>	
	<if test="VARIETY!= null">#{VARIETY},</if>	
	<if test="GENDER!= null">#{GENDER},</if>	
	<if test="BIRTH!= null">#{BIRTH},</if>	
	<if test="BIRTH_WEIGHT!= null">#{BIRTH_WEIGHT},</if>	
	<if test="COLOSTRUM!= null">#{COLOSTRUM},</if>	
	<if test="VACCINE!= null">#{VACCINE},</if>	
	<if test="BIRTH_NUMBER!= null">#{BIRTH_NUMBER},</if>	
	<if test="BIRTH_CASE!= null">#{BIRTH_CASE},</if>			
	<if test="CASENUM!= null">#{CASENUM},</if>			
		 to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 
	)	
		
	
</insert>

<select id="ajaxenvEntitySelectOneBeforUpdate" parameterType="String" resultMap="EntityListResultMap">
	SELECT 
	*
	FROM 
		RDA_TEST.ENTITY  WHERE   entity_id=  #{entity_id}
</select>
<update id="ajaxentityEntityUpdatetDo" parameterType="com.kis.rda.farm.domain.EntityList"  >
UPDATE rda_test. ENTITY		
SET		
		
<if test="BREEDING!= null">BREEDING=#{BREEDING},</if>		
<if test="VARIETY!= null">VARIETY=#{VARIETY},</if>		
<if test="GENDER!= null">GENDER=#{GENDER},</if>		
<if test="BIRTH!= null">BIRTH=#{BIRTH},</if>		
<if test="BIRTH_WEIGHT!= null">BIRTH_WEIGHT=#{BIRTH_WEIGHT},</if>		
<if test="COLOSTRUM!= null">COLOSTRUM=#{COLOSTRUM},</if>		
<if test="VACCINE!= null">VACCINE=#{VACCINE},</if>		
<if test="BIRTH_NUMBER!= null">BIRTH_NUMBER=#{BIRTH_NUMBER},</if>		
<if test="BIRTH_CASE!= null">BIRTH_CASE=#{BIRTH_CASE},</if>		
<if test="INPUTDATE!= null">INPUTDATE=#{INPUTDATE},</if>		
<if test="UPDATEDATE!= null">UPDATEDATE=#{UPDATEDATE},</if>		
<if test="CASENUM!= null">CASENUM=#{CASENUM},</if>		
UPDATEDATE = to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 		
WHERE 		
ENTITY_ID=#{ENTITY_ID}		

</update>

<delete id="ajaxentityEntityDeleteDo" parameterType="com.kis.rda.farm.domain.EntityList"  >
DELETE rda_test.ENTITY 
	 	WHERE 
		ENTITY_ID = #{ENTITY_ID}
</delete>








<!-- 목장자료 - 기존 목장 EXCEL LIST -->
<select id="selectFarmExcel" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM 
		RDA_TEST.FARM 
	ORDER BY
		farm_id ASC
</select>
<!-- 목장 추가를 위한 ID값 SELECT -->
<select id="selectFarmNewId" resultType="int">
	SELECT 
		NVL(max(farm_id),0)+1
	FROM 
		RDA_TEST.FARM
</select>
<!-- 목장 추가 -->
<insert id="insertFarm" parameterType="com.kis.rda.farm.domain.Farm">
	INSERT INTO rda_test.farm (
		farm_id, 
		address, 
		fname, 
		phone1, 
		email, 
		kc, 
		mc, 
		calf, 
		hp1, 
		name, 
		phone2, 
		phone3, 
		hp2, 
		hp3
	) 
	VALUES(
		#{farmId},
		#{address},
		#{fname},
		#{phone1},
		#{email},
		#{kc},
		#{mc},
		#{calf},
		#{hp1},
		#{name},
		#{phone2},
		#{phone3},
		#{hp2},
		#{hp3}
	)	
</insert>
<!-- 목장자료 - 기존 목장 DETAIL -->
<select id="selectFarmDetail" parameterType="String" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM
		RDA_TEST.FARM
	WHERE
		farm_id = #{farmId}
</select>
<!-- 목장자료 - 기존 목장 UPDATE -->
<update id="updateFarm" parameterType="com.kis.rda.farm.domain.Farm">
	UPDATE rda_test.farm 
	SET
		fname = #{fname},
		address = #{address},
		phone1 = #{phone1},
		kc = #{kc},
		mc = #{mc},
		calf = #{calf},
		hp1 = #{hp1},
		name = #{name},
		phone2 = #{phone2},
		phone3 = #{phone3},
		hp2 = #{hp2},
		hp3 = #{hp3},
		updatedate = to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 
	WHERE 
		farm_id = #{farmId}
</update>
<!-- 목장자료 - 기존 목장 DELETE -->
<delete id="deleteFarm" parameterType="String">
	DELETE FROM rda_test.farm 
	WHERE 
		farm_id = #{farmId}
</delete>

<!-- 목장자료 - 신규 목장 COUNT -->
<select id="selectNewFarmCount" parameterType="Map" resultType="int">
	SELECT
		COUNT(farm_id)
	FROM
		RDA_TEST.NEWFARM
	<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
	WHERE
		<choose>
			<when test="searchOption =='fname'">
				farm_name LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchOption =='name'">
				name LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
	</if>
</select>
<!-- 목장자료 - 신규 목장 LIST-->
<select id="selectNewFarmList" parameterType="Map" resultType="com.kis.rda.farm.domain.NewFarm">
	SELECT
		*
	FROM ( 
   			SELECT 
   				rownum as rnum, 
   				A.*
    		FROM (
        			SELECT
        				*
       				FROM 
       					RDA_TEST.NEWFARM
   					<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
					WHERE
						<choose>
							<when test="searchOption =='fname'">
								 file_name LIKE '%'||#{searchValue}||'%'
							</when>
							<when test="searchOption =='name'">
								 name LIKE '%'||#{searchValue}||'%'
							</when>
						</choose>
					</if>
        			ORDER BY
        				inputdate DESC
      			) A
    		WHERE 
    			rownum &lt;= #{endRow}
 		) B
	WHERE
		B.rnum &gt;= #{beginRow}
</select>
<!-- 목장자료 - 기존 목장 EXCEL LIST -->
<select id="selectNewFarmExcel" resultType="com.kis.rda.farm.domain.NewFarm">
	SELECT
		*
	FROM 
		RDA_TEST.NEWFARM 
	ORDER BY
		farm_id ASC
</select>
</mapper>