<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EnvDao">


         <resultMap id="envDataResult" type="com.kis.rda.common.domain.Environment">  
			     <result property="FARM_ID" column="FARM_ID"  javaType="java.lang.String" />
			   <result property="ENV_GATHERDATE" column="ENV_GATHERDATE"  javaType="java.lang.String" />
			   <result property="CLEAN" column="CLEAN"  javaType="java.lang.String" />
			   <result property="WTC" column="WTC"  javaType="java.lang.String" />
			   <result property="WSQ" column="WSQ"  javaType="java.lang.String" />
			   <result property="FQ" column="FQ"  javaType="java.lang.String" />
			   <result property="INPUTDATE" column="INPUTDATE"  javaType="java.lang.String" />
			   <result property="UPDATEDATE" column="UPDATEDATE"  javaType="java.lang.String" />
			   <result property="SEQNO" column="SEQNO"  javaType="java.lang.String" />
         </resultMap>

 
  
  

<select id="ajaxenvEntityList" parameterType="Map" resultMap="envDataResult">
SELECT  rownum as rnum
 ,a.seqno
,a.FARM_ID
,a.ENV_GATHERDATE
,a.CLEAN
,a.WTC
,a.WSQ
,a.FQ
,a.INPUTDATE
,a.UPDATEDATE
	FROM RDA_TEST.ENVIRONMENT a	WHERE FARM_ID=  #{farmId}
</select>

 
<select id="envEntityUpdateSelectOne" parameterType="String"  resultMap="envDataResult">
	SELECT 
	*
	FROM 
		RDA_TEST.ENVIRONMENT a WHERE   SEQNO=  #{seqno}
</select>

<!--  환경 추가 -->
<insert id="ajaxenvEntityInsertDo" parameterType="com.kis.rda.common.domain.Environment">
	INSERT INTO rda_test.ENVIRONMENT (
         SEQNO,
				farm_id ,
			 
			<if test="CLEAN != null">
				CLEAN ,
			</if>
			<if test="ENV_GATHERDATE != null">
				ENV_GATHERDATE,
				</if>
			<if test="WTC != null">
				WTC,
			</if>
			<if test="WSQ != null">
				WSQ ,
				</if>
			<if test="FQ != null">
				FQ , 
			</if>
					
		INPUTDATE
	) 
	VALUES(
	rda_test.SEQ_ENVIRONMENT.nextval	,
		     #{FARM_ID},
			<if test="CLEAN != null">
				 #{CLEAN},
			</if>
			<if test="ENV_GATHERDATE != null">
				#{ENV_GATHERDATE},
				</if>
			<if test="WTC != null">
				 #{WTC},
			</if>
			<if test="WSQ != null">
				 #{WSQ},
				</if>
			<if test="FQ != null">
				 #{FQ}, 
			</if>
					
		 to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 		
	)	
</insert>


<update id="ajaxenvEntityUpdateDo" parameterType="com.kis.rda.common.domain.Environment"  >
UPDATE rda_test.ENVIRONMENT 
	SET

			<if test="CLEAN != null">
				CLEAN = #{CLEAN},
			</if>
			<if test="ENV_GATHERDATE != null">
				ENV_GATHERDATE=#{ENV_GATHERDATE},
				</if>
			<if test="WTC != null">
				WTC = #{WTC},
			</if>
			<if test="WSQ != null">
				WSQ = #{WSQ},
				</if>
			<if test="FQ != null">
				FQ = #{FQ}, 
			</if>
					
		UPDATEDATE = to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 		 
	WHERE 
		SEQNO = #{SEQNO}	
</update>

<delete id="ajaxenvEntityDeleteDo" parameterType="com.kis.rda.common.domain.Environment"  >
DELETE rda_test.ENVIRONMENT 
	 	WHERE 
	SEQNO = #{SEQNO}	
</delete>
 




</mapper>