<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FeseDao">
<resultMap id="fecesListResultMap" type="com.kis.rda.farm.domain.FecesImgList">
   <result property="ENTITY_ID" column="ENTITY_ID"  javaType="java.lang.String" />									
   <result property="FECES_OCCURDATE" column="FECES_OCCURDATE"  javaType="java.lang.String" />									
   <result property="FECES_GATHERDATE" column="FECES_GATHERDATE"  javaType="java.lang.String" />									
   <result property="ANTIBIOTICS" column="ANTIBIOTICS"  javaType="java.lang.String" />									
   <result property="FEED" column="FEED"  javaType="java.lang.String" />									
   <result property="FECES_IMAGE" column="FECES_IMAGE"  javaType="java.lang.String" />									
   <result property="INPUTDATE" column="INPUTDATE"  javaType="java.lang.String" />									
   <result property="UPDATEDATE" column="UPDATEDATE"  javaType="java.lang.String" />									
   </resultMap>




<insert id="ajaxfeseEntityInsertDo" parameterType="com.kis.rda.farm.domain.FecesInput">
INSERT INTO rda_test.FECES(		
SEQNO,	
	ENTITY_ID,	
	<if test="FECES_OCCURDATE!= null">FECES_OCCURDATE,</if>	
	<if test="FECES_GATHERDATE!= null">FECES_GATHERDATE,</if>	
	<if test="ANTIBIOTICS!= null">ANTIBIOTICS,</if>	
	<if test="FEED!= null">FEED,</if>	
	<if test="FECES_IMAGE!= null">FECES_IMAGE,</if>	
	INPUTDATE
	)	
	VALUES(	
	  rda_test.SEQ_FECES.nextval	,	
		 	#{ENTITY_ID},
	<if test="FECES_OCCURDATE!= null">#{FECES_OCCURDATE},</if>	
	<if test="FECES_GATHERDATE!= null">#{FECES_GATHERDATE},</if>	
	<if test="ANTIBIOTICS!= null">#{ANTIBIOTICS},</if>	
	<if test="FEED!= null">#{FEED},</if>	
	<if test="FECES_IMAGE!= null">#{FECES_IMAGE},</if>	
 
		 to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 
	)	

</insert>
<insert id="ajaxfeseEntityInsertImgDo" parameterType="com.kis.rda.common.domain.Fecesimg">
INSERT INTO rda_test.FECESIMG(						
	SEQNO,					
	<if test="ENTITY_ID!= null">ENTITY_ID,</if>					
	<if test="GETIMGDATE!= null">GETIMGDATE,</if>					
	<if test="ORIGINIMG!= null">ORIGINIMG,</if>					
	<if test="ANALYIMG!= null">ANALYIMG,</if>		
						
	 GETIMGDATE
					
	)					
	VALUES(			
	rda_test.SEQ_FECESIMG.nextval	,				
	<if test="ENTITY_ID!= null">#{ENTITY_ID},</if>					
	<if test="GETIMGDATE!= null">#{GETIMGDATE},</if>					
	<if test="ORIGINIMG!= null">#{ORIGINIMG},</if>					
	<if test="ANALYIMG!= null">#{ANALYIMG},</if>			
						
		 to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 				
	)					
						


</insert>


<select id="ajaxfeseEntityImgList" parameterType="Map" resultMap="fecesListResultMap">
	select a.SEQNO, a.ENTITY_ID ,a.FECES_IMAGE,a.FECES_GATHERDATE,a.FECES_OCCURDATE,b.GENDER,a.FEED 
from 
RDA_TEST.FECES a left JOIN RDA_TEST.ENTITY b 
on (a.ENTITY_ID = b.ENTITY_ID)

where a.ENTITY_ID =#{entity_id}
</select>


<!-- 목장자료 - 기존 목장 COUNT -->
<select id="selectFarmCount" parameterType="Map" resultType="int">
	SELECT
		COUNT(farm_id)
	FROM
		RDA_TEST.FARM
	<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
	WHERE
		<choose>
			<when test="searchOption =='fname'">
				fname LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchOption =='name'">
				name LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
	</if>
</select>
<!-- 목장자료 - 기존 목장 LIST-->
<select id="selectFarmList" parameterType="Map" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM ( 
   			SELECT 
   				rownum as rnum, 
   				A.*
    		FROM (
        			SELECT
        				*
       				FROM 
       					RDA_TEST.FARM
   					<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
					WHERE
						<choose>
							<when test="searchOption =='fname'">
								 fname LIKE '%'||#{searchValue}||'%'
							</when>
							<when test="searchOption =='name'">
								 name LIKE '%'||#{searchValue}||'%'
							</when>
						</choose>
					</if>
        			ORDER BY
        				inputdate DESC
      			) A
    		WHERE 
    			rownum &lt;= #{endRow}
 		) B
	WHERE
		B.rnum &gt;= #{beginRow}
</select>
<!-- 목장자료 - 기존 목장 EXCEL LIST -->
<select id="selectFarmExcel" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM 
		RDA_TEST.FARM 
	ORDER BY
		farm_id ASC
</select>
<!-- 목장 추가를 위한 ID값 SELECT -->
<select id="selectFarmNewId" resultType="int">
	SELECT 
		NVL(max(farm_id),0)+1
	FROM 
		RDA_TEST.FARM
</select>
<!-- 목장 추가 -->
<insert id="insertFarm" parameterType="com.kis.rda.farm.domain.Farm">
	INSERT INTO rda_test.farm (
		farm_id, 
		address, 
		fname, 
		phone1, 
		email, 
		kc, 
		mc, 
		calf, 
		hp1, 
		name, 
		phone2, 
		phone3, 
		hp2, 
		hp3
	) 
	VALUES(
		#{farmId},
		#{address},
		#{fname},
		#{phone1},
		#{email},
		#{kc},
		#{mc},
		#{calf},
		#{hp1},
		#{name},
		#{phone2},
		#{phone3},
		#{hp2},
		#{hp3}
	)	
</insert>
<!-- 목장자료 - 기존 목장 DETAIL -->
<select id="selectFarmDetail" parameterType="String" resultType="com.kis.rda.farm.domain.Farm">
	SELECT
		*
	FROM
		RDA_TEST.FARM
	WHERE
		farm_id = #{farmId}
</select>
<!-- 목장자료 - 기존 목장 UPDATE -->
<update id="updateFarm" parameterType="com.kis.rda.farm.domain.Farm">
	UPDATE rda_test.farm 
	SET
		fname = #{fname},
		address = #{address},
		phone1 = #{phone1},
		kc = #{kc},
		mc = #{mc},
		calf = #{calf},
		hp1 = #{hp1},
		name = #{name},
		phone2 = #{phone2},
		phone3 = #{phone3},
		hp2 = #{hp2},
		hp3 = #{hp3},
		updatedate = to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 
	WHERE 
		farm_id = #{farmId}
</update>
<!-- 목장자료 - 기존 목장 DELETE -->
<delete id="deleteFarm" parameterType="String">
	DELETE FROM rda_test.farm 
	WHERE 
		farm_id = #{farmId}
</delete>

<!-- 목장자료 - 신규 목장 COUNT -->
<select id="selectNewFarmCount" parameterType="Map" resultType="int">
	SELECT
		COUNT(farm_id)
	FROM
		RDA_TEST.NEWFARM
	<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
	WHERE
		<choose>
			<when test="searchOption =='fname'">
				farm_name LIKE '%'||#{searchValue}||'%'
			</when>
			<when test="searchOption =='name'">
				name LIKE '%'||#{searchValue}||'%'
			</when>
		</choose>
	</if>
</select>
<!-- 목장자료 - 신규 목장 LIST-->
<select id="selectNewFarmList" parameterType="Map" resultType="com.kis.rda.farm.domain.NewFarm">
	SELECT
		*
	FROM ( 
   			SELECT 
   				rownum as rnum, 
   				A.*
    		FROM (
        			SELECT
        				*
       				FROM 
       					RDA_TEST.NEWFARM
   					<if test="searchValue != null and searchValue != '' and searchValue != 'none'">
					WHERE
						<choose>
							<when test="searchOption =='fname'">
								 file_name LIKE '%'||#{searchValue}||'%'
							</when>
							<when test="searchOption =='name'">
								 name LIKE '%'||#{searchValue}||'%'
							</when>
						</choose>
					</if>
        			ORDER BY
        				inputdate DESC
      			) A
    		WHERE 
    			rownum &lt;= #{endRow}
 		) B
	WHERE
		B.rnum &gt;= #{beginRow}
</select>
<!-- 목장자료 - 기존 목장 EXCEL LIST -->
<select id="selectNewFarmExcel" resultType="com.kis.rda.farm.domain.NewFarm">
	SELECT
		*
	FROM 
		RDA_TEST.NEWFARM 
	ORDER BY
		farm_id ASC
</select>
</mapper>