<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SenseDao">


<select id="ajaxsenseCountList" parameterType="Map" resultType="com.kis.rda.farm.domain.TbSenseCount">
SELECT * FROM (
			  SELECT ROWNUM NO, A.* FROM (
			      SELECT SUM( DECODE(NODE_ID,'201610260001' ,1,0)) AS COW1 ,
			      SUM( DECODE(NODE_ID,'201610260002' ,1,0)) AS COW2 ,
			      SUM( DECODE(NODE_ID,'201610260003' ,1,0)) AS COW3 ,
			      SUM( DECODE(NODE_ID,'201610260004' ,1,0)) AS COW4 ,
			      SUM( DECODE(NODE_ID,'201610260005' ,1,0)) AS COW5 ,
			      SUM( DECODE(NODE_ID,'201610260006' ,1,0)) AS COW6 ,
			      SUM( DECODE(NODE_ID,'201610260007' ,1,0)) AS COW7 ,
			      SUM( DECODE(NODE_ID,'201610260008' ,1,0)) AS COW8 ,
			      SUM( DECODE(NODE_ID,'201610260009' ,1,0)) AS COW9 ,
			      SUM( DECODE(NODE_ID,'201610260010' ,1,0)) AS COW10 ,
			      TO_CHAR(DTIME, 'YYYY-MM-DD') as CDTIME,
			      DEV_TYPE 
			      FROM 
			      TURBOSOFT.SENSE 
			      where 
			      DEV_TYPE='1' and ACTION_VALUE >= 1 
			       GROUP BY TO_CHAR(DTIME, 'YYYY-MM-DD'),DEV_TYPE
			        order by TO_CHAR(DTIME, 'YYYY-MM-DD') desc)a) 
</select>

<select id="ajaxsenseEntityList" parameterType="Map" resultType="com.kis.rda.farm.domain.TbSenseEntityList">
 select 
cu_id as SENSECUID  ,
node_id as SENSENODEID  ,
DEV_TYPE as SENSEDEVTIPE ,
min(DTIME) as TEMDATE1 ,
max(DTIME) as TEMDATE2  ,
count(*) as TEMC  ,
ROUND(AVG(ACTION_VALUE),3) as TEMAVR  ,
ROUND(STDDEV(ACTION_VALUE),3) as TEMS  ,
min(ACTION_VALUE) as TEMMIN ,
max(ACTION_VALUE) as TEMMAX  

 from TURBOSOFT.SENSE GROUP BY cu_id,node_id,DEV_TYPE ORDER BY node_id
    </select>
<select id="ajaxsenseStableList" parameterType="Map" resultType="com.kis.rda.farm.domain.TbsenseStableList">
 select 
  node_id as SENSENODEID ,
 min(dtime) as UPFIRST ,
 max(dtime) as UPLAST ,
 count(*) as COT  ,
 round(avg(co2) ,3) as CO2AVR ,
 round(stddev(co2), 3) as CO2STD  ,
 min(co2) as CO2MIN  ,
 max(co2) as CO2MAX  ,
 round(avg(temp) , 3) as TEMAVR ,
 round(stddev(temp), 3) as TEMSTD  ,
 min(temp) as TEMMIN ,
 max(temp) as TEMMAX  ,
 round(avg(hum) ,3) as HUMAVR  ,
 round(stddev(hum) , 3) as HUMSTD  ,
 min(hum) as HUMMIN  ,
 max(hum) as HUMMAX
 from 
 TURBOSOFT.SENSE_ENV 
 GROUP BY node_id 
 order by NODE_ID
</select>


<select id="ajaxsenseEntityListDetail" parameterType="com.kis.rda.farm.domain.TbSenseEntityList" resultType="com.kis.rda.farm.domain.TbSenseEntityListDetail">
 select * from(
          select 
          ACTION_VALUE as ACTIONVALUE,
          DEV_TYPE as DEVTYPE,
          DTIME 
           from 
           TURBOSOFT.SENSE 
           where NODE_ID = #{NODEID} 
           ORDER BY DTIME desc) 

    </select>



<select id="ajaxsenseStableListDetail" parameterType="com.kis.rda.farm.domain.TbsenseStableList" resultType="com.kis.rda.farm.domain.TbsenseStableList">
     select  *  from(
     			select CO2,
     			TEMP,
     			HUM,
     			DTIME
     			from 
     			TURBOSOFT.SENSE_env 
     			where NODE_ID = #{NODEID} 
     			ORDER BY DTIME desc) 

    </select>


<insert id="ajaxsenseStableEntityInsertDo" parameterType="com.kis.rda.common.domain.Sense">
INSERT INTO rda_test.MEDICALHISTORY(		
SEQNO,
	ENTITY_ID,	
	<if test="CURE_DATE!= null">CURE_DATE,</if>	
	<if test="OCCUR_DATE!= null">OCCUR_DATE,</if>	
	<if test="DISEASE!= null">DISEASE,</if>	
	<if test="PRESCRIBE!= null">PRESCRIBE,</if>	
	<if test="RECOVERY_DATE!= null">RECOVERY_DATE,</if>	
	INPUTDATE	
	)	
	VALUES(	
	rda_test.SEQ_MEDICALHISTORY.nextval	,
		#{ENTITY_ID}	,	
	<if test="CURE_DATE!= null">#{CURE_DATE},</if>	
	<if test="OCCUR_DATE!= null">#{OCCUR_DATE},</if>	
	<if test="DISEASE!= null">#{DISEASE},</if>	
	<if test="PRESCRIBE!= null">#{PRESCRIBE},</if>	
	<if test="RECOVERY_DATE!= null">#{RECOVERY_DATE},</if>		
		 to_date(SYSDATE, 'YY-MM-DD HH24:MI:SS') 
	)	


</insert>


<select id="selectchartymd" parameterType="Map" resultType="String">
  select to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd')  from TURBOSOFT.SENSE where node_id = '201610260009' GROUP BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') HAVING min(ACTION_VALUE)&gt; = 0 and max(ACTION_VALUE) &gt;  0ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<select id="selectupdown" parameterType="Map" resultType="String">
select   '['||min(ACTION_VALUE)||','||max(ACTION_VALUE)||']'  from TURBOSOFT.SENSE where node_id = '201610260009' GROUP BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') HAVING min(ACTION_VALUE)&gt;  = 0 and max(ACTION_VALUE)&gt;  0 ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc</select>


<select id="selectchartavg" parameterType="Map" resultType="String">
 select ROUND(AVG(ACTION_VALUE),3) from TURBOSOFT.SENSE where node_id = '201610260008' and ACTION_VALUE &gt;=1 GROUP BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<select id="selectchartcentr" parameterType="Map" resultType="String">
 select  ROUND(MEDIAN(ACTION_VALUE),3) from TURBOSOFT.SENSE where node_id = '201610260008' and ACTION_VALUE &gt;=1 GROUP BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>
<select id="selectStablechartymd" parameterType="Map" resultType="String">
select  to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd')  from TURBOSOFT.SENSE_ENV  GROUP BY node_id,to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<select id="selectStablechartavg" parameterType="Map" resultType="String">
select  ROUND(AVG(TEMP),3) from TURBOSOFT.SENSE_ENV  GROUP BY node_id,to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<select id="selectStablechartavg2" parameterType="Map" resultType="String">
 select ROUND(AVG(CO2),3) from TURBOSOFT.SENSE_ENV  GROUP BY node_id,to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<select id="selectStablechartavg3" parameterType="Map" resultType="String">
select  ROUND(AVG(HUM),3) from TURBOSOFT.SENSE_ENV  GROUP BY node_id,to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') ORDER BY to_char(to_date(DTIME,'yyyy-mm-dd'),'yy.mm.dd') asc
</select>

<!-- 9축값 가져오기 -->
<select id="selectAduinoSensing" resultType="com.kis.rda.farm.domain.Aduino">
	SELECT
		*
	FROM
		GIKIMI_T
	WHERE
		G_DATE LIKE '17/09/'||'%'
	ORDER BY G_DATE DESC
</select>

</mapper>